html {
  background: #2d2d2b;
  color: #ddd;
  font-family: Verdana, sans-serif;
}

body {
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: Georgia, serif;
}

h1, a {
  color: #7ab9ff;
}

canvas {
  background-color: #ddd;
}
